/* header */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");
@import url("https://fonts.cdnfonts.com/css/halant");
@import url("https://fonts.cdnfonts.com/css/nunito-sans");

:root {
  /* fonts */
  --title: "Halant", sans-serif;
  --heading-font: "Playfair Display", serif;
  --body-font: "Roboto Condensed", sans-serif;

  /* Colours */
  --text: #000000;
  --background: #fafafa;
  --primary: #4e4e4e;
  --secondary: #919191;
  --accent: #b6b6b6;

  /* Utility */
  --form-shadow: 0 0 0.7rem var(--primary);
  --small-boxshadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  --boxshadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  --border: 2px 2px 2px 2px;

  /* Color Variations */
  --text-color: #eef5f0; /* Example color */
  --background: #8f5b9b; /* Example color */
  --primary-color: #eab747; /* Example color */
  --secondary-color: #692a7c; /* Example color */
  --accent-color: #bf4278; /* Example color */
}

/* testing class with red order */
.test {
  border: 1px solid red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--background) !important;
}

hr {
  color: #ffffff !important;
  opacity: 0.5 !important;
}

p {
  letter-spacing: 1.5px;
  margin-bottom: 0 !important;
  color: var(--text-color) !important;
  font-family: var(--body-font) !;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title);
  letter-spacing: 2px;
  color: var(--primary-color) !important;
}

.modal-body {
  background-color: var(--secondary-color) !important;
}
.modal-header,
.modal-footer,
.modal-content {
  background-color: var(--secondary-color) !important;
  color: var(--text-color) !important;
}
.btn {
  background-color: #343baa !important;
  color: var(--text-color) !important;
}

/* hide close button on modal */
button.btn-close {
  display: none !important;
}

/* profesion carousel */

.carousel-item {
  text-align: center;
}

/* card elements */
.card-numbers {
  display: flex;
  flex-wrap: wrap;
}
.card-numbers p {
  flex: 1;
  width: 50%; /* Two paragraphs in a row, each taking 50% width */
  box-sizing: border-box; /* Include padding and border in the width */
  padding: 10px; /* Add some padding for spacing */
}

.tooltip-box {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.tooltip-box {
  display: none;
  position: fixed;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  z-index: 100;
  width: 300px;
  left: 100%; /* Position to the right of the question mark */
  top: 50%;
  transform: translate(0, -50%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.question-mark:hover + .tooltip-box-modal {
  display: block;
}

.liabilities-button {
  text-decoration: none;
  font-size: 1.1rem;
  aspect-ratio: 1/1;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

#game-collumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#total-expenses-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-board-components {
  width: 100%;
}

#button-container > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-numbers p {
  text-wrap: wrap;
}

#bank-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#numberForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#numberForm > p,
#numberForm > div {
  display: inline;
}

#payday-card {
  color: var(--text-color);
}

.step h3 {
  margin-top: 1rem;
}

.event-card-body {
  margin: 1rem;
}
#order-input-span {
  color: var(--text-color);
}

.important-number {
  border: var(--text-color) 0.1rem solid;
  border-radius: 1rem;
  padding: 0.05rem 0.5rem 0.1rem;
  margin: 0 1rem 0 -0.6rem;
}

#financialStatementModalContent {
  width: 550px;
  margin: auto;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

header {
  height: 80px;
  position: relative;
}

header img {
  height: 80px;
  padding: 5px;
  margin: auto;
}

#game-components {
  padding: 15px;
  width: 60%;
  margin: auto;
}

.img-container {
  display: flex;
}

#main-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px !important;
}

#main-how-to-play-button {
  width: 100%;
}

#main-current-card-button {
  width: 200px;
}

#event-card {
  min-width: 200px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
